@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F1F5F9;
  color: #0F172A;
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
